/node_modules
#Modules/Saas/
#/public/hot
#/public/modules/*
#/public/storage/pages/*

#/public/storage/system/*
#/public/storage/users_storage/*
#/public/storage/modules/*
#/public/storage/blogs/categories/*
#/public/storage/blogs/thumbnails/*
#/public/storage/blogs/contents/*
.history
/resources/lang/vi/
/resources/lang/vi.json
/storage/*.key
/storage/installed
/storage/upgrade/*
/storage/logs/*
/vendor
#.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
**/.DS_Store
__MACOSX/

/builder-source/node_modules
/builder-source/dist/grapesjs-preset-webpage.min.css
/builder-source/dist/grapesjs-preset-webpage.min.js
/.idea
/.well-known
